<div class="container">

  {{lookup-form zipLookup="zipLookup"}}

  {{committee-query searchCommittees="searchCommittees"}}

  <br><button class="btn btn-warning" {{action 'goToBills'}}>See Latest Bills in Congress</button>

</div>
